name alarm
field scope char SCHEMA_SCOPE_SIZE
field alarmid char SCHEMA_ALARMID_SIZE
field ccid char SCHEMA_CCID_SIZE
field state int
field smode int
field variables char SCHEMA_ALARMVARS_SIZE
field dateissued char SCHEMA_DATEISSUED_SIZE
field hourissued char SCHEMA_HOURISSUED_SIZE
field timecleared int
field timeissued int
field type int
field sortorder int
field pmode int
field level1 char SCHEMA_LEVEL_SIZE
field id1 char SCHEMA_ID_SIZE
field level2 char SCHEMA_LEVEL_SIZE
field id2 char SCHEMA_ID_SIZE
field tmode int
field severity int
field text char SCHEMA_ALARMTEXT_SIZE
field comment char SCHEMA_ALARMCOM_SIZE
field origmsg char SCHEMA_ALARMORIG_SIZE
