name stat
field scope char SCHEMA_SCOPE_SIZE
field dateissued char SCHEMA_DATEISSUED_SIZE
field hourissued char SCHEMA_HOURISSUED_SIZE
field timeissued int
field level char SCHEMA_LEVEL_SIZE
field id char SCHEMA_ID_SIZE
field key char SCHEMA_STATKEY_SIZE
field unit char SCHEMA_STATUNIT_SIZE
field frame int
field val float
field label char SCHEMA_STATLABEL_SIZE
