name inv_map
field level1 char SCHEMA_LEVEL_SIZE
field id1 char SCHEMA_ID_SIZE
field level2 char SCHEMA_LEVEL_SIZE
field id2 char SCHEMA_ID_SIZE
field key char SCHEMA_KEY_SIZE
field val char SCHEMA_VAL_SIZE
