name dq_dt_inv
field cat short
field type short
field level1 char SCHEMA_LEVEL_SIZE
field id1 char SCHEMA_ID_SIZE
field level2 char SCHEMA_LEVEL_SIZE
field id2 char SCHEMA_ID_SIZE
field class1 short
field class2 short
